<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Compressor</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="stylesheet" href="../css/templates/header.css">
  <link rel="stylesheet" href="../css/templates/footer.css">
</head>
<body>
  <div class="wrapper">

      <header class="header">
        <div class="header__container">
          <div class="header__header-left-side _inactive">
            <a href="/" id="logo-shell"><img src="../img/logo.png" alt="logo" class="header__logo"></a>
            <nav class="header__navigation-bar">
              <a href="/tools/image-compression"><span class="navigation-bar__link">Compress image</span></a>
              <a href="/about"><span class="navigation-bar__link">In developing...</span></a>
            </nav>
          </div>
          <div class="header__header-right-side _inactive">
            <div id="header-account-action">
              <a href="/signin" id="header__signin">Sign In</a>|<a href="/signup" id="header__signup">Sign Up</a>
            </div>
            <img src="../img/menu-button.png" alt="Icons created by Freepik & ariefstudio - Flaticon" class="header__menu-icon">
            <nav class="menu-icon__list">
              <div id="header-account-action-narrow-screen">
                <a href="/signin">Sign In</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="/signup">Sign Up</a>
              </div>
              <a href="/tools/image-compression"><div>Compress image</div></a>
              <a href="/about"><div>In developing...</div></a>
            </nav>
          </div>
        </div>
      </header>


      <main class="main">
        
        <div class="index-block">
          <div class="index-block__container">
            <header class="index-block__header-content">
              <span class="header-content__title-text">Online file compressor</span><hr>
              <span class="header-content__subtitle-text">An experimental site created as a <span id="aaa">pet project</span>. 
                Many tools and features will be improved in the future...
                </span>
            </header>
            <main class="index-block__main-content">
              <div class="main-content__tools">
                <a href="/tools/image-compression" class="tools tools__image-compression _disabled">
                  <header class="tools__header">
                    <img class="image-compression" src="./img/image-compression.png" alt="Compress icons created by Freepik - Flaticon">
                    <p>Compress IMAGE</p>
                  </header>
                  <footer class="tools__footer">
                    <p>Compress your <span class="selected-text">JPG</span>, <span class="selected-text">PNG</span> size. 
                    Select file from your device or drag files to the drop area, choose a compression type. Wait for the compression to finish.</p>
                  </footer>
                </a>
                <a href="/about" class="tools tools__in-developing  _disabled">
                  <header class="tools__header">
                    <img class="image-rotation" src="./img/in-developing.png" alt="Work icons created by Freepik - Flaticon">
                    <p>In developing...</p>
                  </header>
                  <footer class="tools__footer">
                    <p>Here must be About and my plans and write that i develope this site alone.
                      And if you found a bug write to FC support.
                    </p>
                  </footer>
                </a>
              </div>
            </main>
          </div>
        </div>

      </main>


      <footer class="footer">
        <div class="footer__container">
          <span class="footer__footer-left-side">Support: <i class="footer__text-email"> filecompressorproject@gmail.com</i></span>

          <span class="footer__footer-right-side">© 2022 File Compressor
            <span class="footer__copyright-text">This site was created as a pet project by 
              <a href="https://github.com/WhatIsLove007" target="_blank" class="footer__github-hyperlink">Vladislav</a>
            </span>
          </span>
        </div>
      </footer>

  </div>

  </div>

  <script src="./js/indexPage.js"></script>
  <script src="../js/script.js"></script>
</body>
</html>