@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(255, 233, 195); */
    background-color: rgb(223, 75, 75);
    font-family: 'Alegreya', serif;
}

.access-block__form {
    width: 80%;
    display: flex;
    flex-direction: column;
}

input {
    height: 30px;
    font-size: medium;
    font-weight: 700;
    border: 0px black solid;
    border-radius: 5px;
    padding: 0 10px;
}
input::placeholder {
    font-size: 16px;
    color: rgb(173, 173, 173);
}
.wrapper {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
}


.main {
    width: 100%;
    padding: 40px 0 ;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.access-block {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 242, 206);
    font-size: 18px;
    border: 4px black solid;
    border-radius: 40px;
}
.access-block__top {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.access-block__bottom {
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#label-img {
    height: 50px;
}



#password-icon {
    width: 20px;
    cursor: pointer;
    position: relative;
    top: -50px;
    left: 380px;
}




#get-access-btn {
    cursor: pointer;
    background-color: rgb(111, 214, 163);
    transition: all 0.35s;
}

#get-access-btn:hover {
    background-color: rgb(2, 201, 101);
}


label {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 6px;
}

.access-block__header {
    margin-bottom: 30px;
}
.access-block__text {
    width: 80%;
    margin-bottom: 45px;
}

.error-message-output {
    margin: 7px 0;
    opacity: 0;
    transition: all 0.6s;
    display: flex;
    align-items: center;
}
.error-message-text {
    margin-left: 10px;
    font-weight: 700;
    color: rgb(248, 57, 57);
}





@media (max-width: 600px) {
    .access-block__text {
        width: 85%;
    }
    .access-block {
        border-radius: 0;
    }
    form {
        width: 85%;
    }
}