<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image compression</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="../css/image-compression.css">
  <link rel="stylesheet" href="../css/templates/header.css">
  <link rel="stylesheet" href="../css/templates/footer.css">
</head>
<body>
  <div class="wrapper">

      <header class="header">
        <div class="header__container">
          <div class="header__header-left-side _inactive">
            <a href="/" id="logo-shell"><img src="../img/logo.png" alt="logo" class="header__logo"></a>
            <nav class="header__navigation-bar">
              <a href="/tools/image-compression"><span class="navigation-bar__link">Compress image</span></a>
              <a href="/about"><span class="navigation-bar__link">In developing...</span></a>
            </nav>
          </div>
          <div class="header__header-right-side _inactive">
            <div id="header-account-action">
              <a href="/signin" id="header__signin">Sign In</a>|<a href="/signup" id="header__signup">Sign Up</a>
            </div>
            <img src="../img/menu-button.png" alt="Icons created by Freepik & ariefstudio - Flaticon" class="header__menu-icon">
            <nav class="menu-icon__list">
              <div id="header-account-action-narrow-screen">
                <a href="/signin">Sign In</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="/signup">Sign Up</a>
              </div>
              <a href="/tools/image-compression"><div>Compress image</div></a>
              <a href="/about"><div>In developing...</div></a>
            </nav>
          </div>
        </div>
      </header>


      <main class="main">
        <form class="main__container" action="/api/tools/compress-image" method="post" enctype="multipart/form-data">
          <div class="main__upload-zone">
            <div class="drop-zone _drop-zone_disabled">
              <span class="drop-zone__prompt">Drag and drop file here or click on this area to upload</span>
              <input type="file" name="file" class="drop-zone__input">
            </div>

          </div>

          <div class="main__info-zone">
            <div class="text-zone _text-zone_disabled">
              <header id="text-zone__header-text">Compress your image</header>
              <div class="text-zone__main-text">
                <div>You can only compress 
                  <span class="text-zone__keywords">JPEG</span> and <span class="text-zone__keywords">PNG</span>.
                </div><br>
                <div>For compression with minimal loss of quality, select 
                  <span id="compression-btn-hint">compress</span> button.
                </div>
                <div>For maximun compression with loss of quality, select 
                  <span id="max-compression-btn-hint">max compression</span> button.
                </div>
              </div>
              <div class="text-zone__buttons">
                <input type="submit" name="compression" value="COMPRESS" id="compression-btn" disabled>
                <input type="submit" name="compression" value="MAX COMPRESSION" id="max-compression-btn" disabled>
              </div>
            </div>
          </div>
        </form>
      </main>


      <footer class="footer">
        <div class="footer__container">
          <span class="footer__footer-left-side">Support: <i class="footer__text-email"> filecompressorproject@gmail.com</i></span>

          <span class="footer__footer-right-side">© 2022 File Compressor
            <span class="footer__copyright-text">This site was created as a pet project by 
              <a href="https://github.com/WhatIsLove007" target="_blank" class="footer__github-hyperlink">Vladislav</a>
            </span>
          </span>
        </div>
      </footer>

  </div>

  </div>

  <script src="../js/script.js"></script>
  <script src="../js/toolsPage.js"></script>
</body>
</html>