<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Get access to resource</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="../css/middleware.css">
</head>
<body>

  <div class="wrapper">

      <main class="main">
        <div class="access-block">
          <div class="access-block__top">
            <div>
              <a href="/"><img src="../img/logo.png" alt="logo" id="label-img"></a>
            </div>
          </div>
          <div class="access-block__bottom">

            <h2 class="access-block__header">Get access to resourse</h2>
            <h3 class="access-block__text"><i>&nbsp; &nbsp; &nbsp; &nbsp; You are not allowed to access this resource. 
            To enter, please, enter the access key below.</i></h3>

            <div class="access-block__form">
              <label for="entry-key">Entry key:</label>
              <input id="entry-key" type="text" name="entry-key" placeholder="key"><br>
              <div class="error-message-output">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                <p class="error-message-text"></p>
              </div>
              <input type="button" value="Get Access" id="get-access-btn"><br>
            </div>
          </div>
        </div>
      </main>

  </div>



  <script src="../js/dataEntryBlock.js"></script>
</body>
</html>