<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password reset</title>
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="../css/password-reset.css">
  <link rel="stylesheet" href="../css/templates/header.css">
  <link rel="stylesheet" href="../css/templates/footer.css">
</head>
<body>
  <div class="wrapper">

      <header class="header">
        <div class="header__container">
          <div class="header__header-left-side _inactive">
            <a href="/" id="logo-shell"><img src="../img/logo.png" alt="logo" class="header__logo"></a>
            <nav class="header__navigation-bar">
              <a href="/tools/image-compression"><span class="navigation-bar__link">Compress image</span></a>
              <a href="/about"><span class="navigation-bar__link">In developing...</span></a>
            </nav>
          </div>
          <div class="header__header-right-side _inactive">
            <div id="header-account-action">
              <a href="/signin" id="header__signin">Sign In</a>|<a href="/signup" id="header__signup">Sign Up</a>
            </div>
            <img src="../img/menu-button.png" alt="Icons created by Freepik & ariefstudio - Flaticon" class="header__menu-icon">
            <nav class="menu-icon__list">
              <div id="header-account-action-narrow-screen">
                <a href="/signin">Sign In</a> &nbsp; &nbsp; | &nbsp; &nbsp; <a href="/signup">Sign Up</a>
              </div>
              <a href="/tools/image-compression"><div>Compress image</div></a>
              <a href="/about"><div>In developing...</div></a>
            </nav>
          </div>
        </div>
      </header>

      <main class="main">
        <div class="password-reset-block _disabled">
          <div class="password-reset-block__top">
            <div>
              <a href="/"><img src="../img/logo.png" alt="logo" id="label-img"></a>
            </div>
          </div>
          <div class="password-reset-block__bottom">

            <h2>Reset password</h2><br>
            <h3 class="password-reset-block__text"><i>&nbsp; &nbsp; &nbsp; &nbsp; Enter your registered e-mail address. 
                We will send you the password reset instructions.</i></h3><br>
            <div class="password-reset-block__form">
              <label for="password-reset-email">Your email:</label>
              <input id="password-reset-email" type="email" name="email" placeholder="email">
              <div class="error-message-output">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                  <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
                <p class="error-message-text"></p>
              </div>
              <input  type="button" value="Send" id="send-btn"><br>
            </div>
            <p>Don't have an account <a href="/signup">Sign Up</a></p>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="footer__container">
          <span class="footer__footer-left-side">Support: <i class="footer__text-email"> filecompressorproject@gmail.com</i></span>

          <span class="footer__footer-right-side">© 2022 File Compressor
            <span class="footer__copyright-text">This site was created as a pet project by 
              <a href="https://github.com/WhatIsLove007" target="_blank" class="footer__github-hyperlink">Vladislav</a>
            </span>
          </span>
        </div>
      </footer>

  </div>

  <script src="../js/script.js"></script>
  <script src="../js/dataEntryBlock.js"></script>
</body>
</html>